
.resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./laptop-blur.jpg);
    height: 35vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: #000;
    border-image: fill 0 linear-gradient(#0010, #0008);
}

.resume-container h2 {
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    color: white;
}

.resume-container button {
    padding: 6px 10px;
    background: transparent;
    color: white;
    border-color: white;
}

.resume-container button:hover {
    width: 125px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
}

