.contact-container {
    min-height: 35vh;
    background-color: rgb(30, 27, 27);
    color: rgb(167, 175, 175);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: block;
    background-color: rgb(90, 89, 89);
    width: 45px;
    height: 40px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    padding-block-end: 45px;
    margin: 3px;
    
}

.arrow-up {
    color: rgb(151, 157, 157);
    display: block;
    padding-top: 25px;
    font-size: 25px;
}

.fa-copyright {
    color: rgb(151, 157, 157);
    font-size: 13px;
    text-align: center;
    margin-right: 2px;
}