
.exp-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin-right: 15px;
    margin-left: 15px;
    color: rgb(95, 99, 99);
}

.exp-container h1 {
    font-size: 40px;
    font-weight: 350;
}

.exp-container p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    
}

.exp-container h3 {
    font-size: 19px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skill-container img {
    width: 120px;
    height: 120px;
    margin: 20px;
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0%);
}

.skill-container {
    width: 75vw;
}

.skill-container img {
    margin-bottom: 35px;
}